body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 150px;
    height: 150px;
}

.header {
    background: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

.contentone {
    background: #1F2937;
    color: white;
}

.contentthree {
    background: #e5e7eb;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}