body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    /*pulled from 02 assignment - to remove dots*/
    list-style-type: none;
  
    display: flex;
    gap: 15px;
  }

a:link {
    color: #E5E7EB;
    text-decoration: none;
}

.logotext {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.header,
.footer {
    background: #1F2937;
    font-size: 18px;
    color: #E5E7EB;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    justify-content: center;
}

.awesomebody > div {
    padding-left: 200px;
    padding-right: 200px;
}

.maintext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.subtext {
    font-size: 20px;
}

.infoheadertext {
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

button {
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    background: #3882F6;
    padding: 10px 24px;
}

.buttontwo {
    border: 2px solid white;
    border-radius: 8px;
}

.contentone,
.contenttwo,
.contentthree,
.contentfour {
    display: flex;
    
    flex-basis: 500px;
    align-items: center;
}

.contentone {
    background: #1F2937;
    color: white;

    justify-content: space-evenly;
    gap: 50px;
}

.onetextcontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contentone > div > img {
    height: 250px;
}

.contenttwo {
    flex-direction: column;
    justify-content: space-evenly;
}

.twopictures > div > img {
    width: 150px;
    height: 150px;

    border: 3px solid blue;
    border-radius: 10px;
}

.twopictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 150px;
}

.twopicturescontainer {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.text {
    text-align: center;
    word-wrap: normal;
}

.contentthree {
    background: #e5e7eb;
    flex-direction: column;
    justify-content: center;
}

.quotetext {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}

.quoteauthor {
    font-size: 28px;
    font-weight: bold;
    padding-left: 400px;
}

.contentfour {
    justify-content: center;
}


.actionblock {
    color: #F9FAF8;
    background: #3882F6;
    width: 850px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.actiontext {
    color: #F9FAF8;
    font-size: 28px;
    font-weight: bold;
}

